# Файлы окружения
.env
.env.local

# Бинарные файлы
vetbot
*.exe
*.so
*.dll

# Логи
*.log
logs/

# Базы данных
*.db
*.sqlite3

# Директории IDE
.vscode/
.idea/

# Директория сборки
bin/
dist/

# 
!cmd/
!cmd/vetbot/
!cmd/vetbot/main.go

